@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background: black;
}
header{
    background-color: #111111;
    position: relative;
    /* padding-bottom: 4.5rem; */
    /* position: relative; */
    /* height: 44rem; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 8rem 0 8rem;
    /* background-color: rgb(0, 0, 0); */
}
nav div{
    display: none;
}
nav ul{
    display: flex;
    column-gap: 2rem;
    border: 1px solid #a78f8f;
    border-radius: 2.5rem;
}
nav ul li:first-child{
    background: #E6533C;
    border-radius: 3rem;
    border: none;
    
}
nav ul li:first-child:hover{
    background: #ac4130;
}
nav li{
    list-style: none;
    padding: 8px 20px 8px 20px;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.12rem;
    font-weight: 400;
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}
nav li:hover{
    background: rgb(54, 46, 46);
    padding: 8px 20px 8px 20px;
}
nav h2{
    font-weight: bold;
    font-size: 2.25rem;
    color: #E6533C;
}
header .describ{
    width: 28rem;
    margin-top: 6rem;
    margin-left: 8rem;
}
header div h1{
    font-weight: 900;
    font-size: 3.5rem;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}
header div h1 span{
    font-weight: 400;
    font-style: italic;
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
}
header div p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-bottom: 1.5rem;
}
header div button{
    font-weight: 600;
    font-size: 1.12rem;
    color: rgb(255, 240, 240);
    border-radius: 2.5rem;
    padding: 1rem 2rem 1rem 1rem;
    cursor: pointer;
}
header div .join{
    background: #E6533C;
    border: none;
    
}
header div .join:hover{
    background: #eb6854;
}
header div .d-app{
    background: #111111;
    border: 1px solid #FFFFFF; 
    margin-left: 1rem;  
}
header div .d-app:hover{
    background: rgb(54, 46, 46);
}
header .main-content{
    display: flex;
    justify-content: space-between;
    /* column-gap: 8rem; */
    /* column-gap: 7rem; */
    /* justify-content: center; */
}
header .main-content img{
   /* position: absolute;
   bottom: 0;
   right: 0;*/
   margin-bottom: 0;
   margin-right: 15%;
}

header .card1{
   position: absolute;
   bottom: 22rem;
   right: 8.5rem;
   background: rgba(255, 255, 255, 0.103);
   backdrop-filter: blur(10px);
   border: none;
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   width: 12.5rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;

}
header .card1 h2{
   color: #FFFFFF;
   font-weight: bold;
   font-size: 2rem;
   margin-top: 10px;
   text-align: left;
   margin-left: 2rem;
}
header .card1 p{
   color: rgba(239, 237, 232, 0.65);
   font-size: 0.8rem;
   font-weight: 400;
   text-align: left;
   margin-left: 2rem;
}
header .card2{
   position: absolute;
   bottom: 5%;
   right: 40%;
   background: rgba(255, 255, 255, 0.055);
   backdrop-filter: blur(10px);
   display: flex;
   align-items: center;
   column-gap: 0.8rem;
   border-radius: 1rem;
   padding: 0.5rem 1rem;
}
header .card2 h3{
   color: #FFFFFF;
   font-weight: bold;
   font-size: 1.5rem;
   margin-top: 0.5rem;
}
header .card2 p{
   font-size: 1rem;
   font-weight: 400;
   color: rgba(239, 237, 232, 0.65);
   
}
header .num{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
header .ball{
    height: 2.5rem;
    width: 2.5rem;
    background-color: #E6533C;
    border-radius: 50%;
}
main{
    padding: 6.25rem 7rem 7rem 7rem;
}
.habits{
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    margin-bottom: 3.5rem;
}
.habits h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}
.habits p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.7rem;
}
.all-circle{
    display: flex;
    column-gap: 4rem;
}
.all-circle div img{
    width: 100%;
    border-radius: 50%;
}
.all-circle div h5{
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}
.all-circle div p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    font-weight: normal;
    margin-top: 0.4rem;
    text-align: center;
}
.running{
    margin-top: 8rem;
    background: rgba(34, 34, 34, 1);
    padding: 2rem;
    border-radius: 1rem;
}
.running .dada{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.motivation{
    width: 20rem;
    height: 16rem;
}
.motivation h2{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
.motivation p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: normal;
    margin-bottom: 0.8rem;
}
.motivation button{
    padding: 12px 40px 12px 40px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 2.5rem;
    background-color: rgba(230, 83, 60, 1);
    cursor: pointer;
}
.motivation button:hover{
    background: #e66b59;
}
.running-img img{
    height: 16rem;
    border-radius: 1rem;
}
.calculator{
	padding-top: 4.5rem;
}
.calculator .heading{
	margin-left: 50%;
	transform: translateX(-50%);
	margin-bottom: 4.5rem;
}
.calculator .heading h2{
	text-align: left;
	color: white;
	font-weight: bold;
	font-size: 2.5rem;
	margin-bottom: 0.8rem;
}
.calculator .heading p{
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.9rem;
	font-weight: 300;
	text-align: left;
}
.calculator-table h3{
	color: white;
    font-weight: bold;
	font-size: 1.75rem;
    margin-bottom: 1.5rem;
}
.calculator-table table{
	border-collapse: collapse;
	min-width: 21.5rem;
}
.main-calculator{
	background: rgba(34, 34, 34, 1);
	margin-right: -7rem;
	margin-left: -7rem;
	display: flex;
	padding: 2.5rem 1.4rem;
}
th, td{
	padding: 0.68rem;
	border-color: rgba(255, 255, 255, 0.5);
	font-size: 0.97rem;
	color: white;
}
td{
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8;
}
thead th{
	text-align: left;
}
.foram{
	display: grid;
	grid-template-columns: repeat(2, 17.5rem);
    grid-template-rows: repeat(3, 2.9rem);
    column-gap: 0.7rem;
    row-gap: 0.7rem;
}
.actual-calc form h3{
    color: white;
    font-weight: bold; 
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}
.actual-calc form p{
    color: rgba(255, 255, 255, 0.5); 
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
.last-one{
	grid-column: 1/3;
}
.inputs-styles{
    background-color: rgba(255, 255, 255, 0.164);
    color: black;
    border-radius: 5px;
    border: none;
    padding-left: 0.6rem;
    font-size: 1rem;
    font-weight: 500;
}
.inputs-placeholders-styles::placeholder{
    color: black;
}
.actual-calc form button{
    height: 2.9rem;
    width: 200px;
    color: white;
    font-weight: 400;
    font-size: 1.4rem;
    background-color: tomato;
    border-radius: 25px;
    border: none;
    margin-top: 1.5rem;
}
.actual-calc form button:hover{
    background-color: #E6533C;
    cursor: pointer;
}
.main-calculator{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:576px){
    *{
        overflow-x: hidden;
    }
    header{
        padding: 3rem 1.25rem 0 1.25rem;
        margin: 0;
    }
    header nav{
        padding: 0;
        margin: 0;
    }
    nav ul{
        display: none;
    }
    nav div{
        display: block;
    }
    nav h2{
        font-size: 2.25rem;
    }
    header .main-content{
        flex-direction: column;
    }
    header .describ{
        padding: 0;
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    header .main-content img{
        padding: 0;
        margin: 0;
    }
    header .card1{
        bottom: 23rem;
        right: 2rem;
        backdrop-filter: blur(7px);
    }
    header .card2{
        left: 2rem;
        bottom: 9rem;
        backdrop-filter: blur(7px);
    }
    .all-circle{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        padding: 2rem 4rem 2rem 4rem;
    }
    .habits{
        width: 25rem;
        padding: 0.7rem;
    }
    .habits h2{
        font-size: 2rem;
    }
    main{
        padding: 0;
        margin: 0;
    }
    .dada{
        flex-direction: column;
    }
    .running{
        margin: 0 1.25rem;
    }
    .running .running-img{
        border-radius: 20px;
        width: 86%;
        margin-top: 2rem;
    } 
    .motivation{
        overflow: hidden;
        height: 17rem;
    }
    .running button{
        width: 100%;
        margin-top: 1rem;
    }   
    .calculator{
		padding: 0;
		margin: 0;
	}
	.calculator .heading{
		padding: 0;
		margin: 0;
		transform: translate(0,0);
	}
    .main-calculator{
        flex-direction: column;
    }
    .calculator .heading{
       margin: auto;
       padding: 2rem 0.7rem 2rem 0.7rem;
    }
    .calculator-table{
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .actual-calc form h3{
        margin-left: 6.5rem;
        padding-right: 4rem;       
    }
    .actual-calc form p{
        margin-left: 6.5rem;
        padding-right: 4rem;   
    }
    
    .actual-calc form button{
        margin-left: 6.5rem;
    }
    .foram{
        display: grid;
        grid-template-columns: repeat(2, 12rem);
        grid-template-rows: repeat(3, 2.9rem);
        column-gap: 0.7rem;
        row-gap: 0.7rem;
        margin-left: 6.5rem;
    } 
}